/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* Global */

body {
	background-color:#f0efef;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
}

a {
	text-decoration:none;
	font-weight: 600;
}

header {
	background-color:#033048;
}

nav {
	float:right;
	display:inline-block;
	width: 70%;
}

img {
	max-width:100%;
	height:auto;
	padding: 20px 0;
}

p {
	font-weight:300;
	font-size:24px;
	color:#606161;
	line-height: 1.3;
	padding:20px 0 30px;
}

.logo {
	font-weight:800;
	font-size:48px;
	color:#f0efef;
}

.container {
	margin: 0 auto;
	max-width:960px;
	width:100%;
}

/* Header */

header .logo {
	display:block;
	float:left;
	color:#f0efef;
	padding:40px 0;
}

nav ul {
	list-style: none;
	width: auto;
	padding: 55px 0 40px;
}

nav li {
	display:inline-block;
	float: right;
}

nav a {
	font-weight:300;
	color:#f9e42e;
	font-size:24px;
	padding: 0 20px
}

nav a:hover {
	color:white;
}

/* Main */


.main {
	width:700px;
	margin-right: 20px;
	float:left;
	padding: 40px 0 100px;
}

.main article {
	border-bottom: 1px solid black;
	padding-bottom:80px;
}

.main h1 {
	font-weight:600;
	font-size:40px;
	color:#033048;
	line-height:1.3;
	padding-top:40px;
}

.main h1:hover{
	color:#606161;
}

.main article p:first-letter {
	font-weight:600;
	font-size:80px;
	float:left;
	line-height: 1;
	padding-right:10px;

}

.main a {
	font-weight:600;
	font-size:24px;
	color:#033048;
	display:inline-block;
	float:right;
	padding-bottom:20px;
}

.main a:hover {
	color:#f9e42e;
}

/* Aside */

aside {
	width:240px;
	float:right;
	padding-top:80px;
}

aside h1 {
	font-weight:800;
	font-size:32px;
	color:#033048;
}

aside ul {
	padding:20px 0;
}

aside li a {
	font-weight:300;
	font-size:24px;
	color:#033048;
	line-height: 1.5;
}

aside li a:hover {
	color:#606161;
}

aside p {
	font-size:22px;
}

.articleLink {
	font-weight:600;
	font-size:22px;
	color:#033048;
	display:block;
	padding:0 0 20px;
}

aside img {
	padding: 20px 0;
}

/* Callout */

.callout {
	background-color:#f9e42e;
	padding: 30px;
}

.btn {
	border-radius: 5px;
	font-weight: 800;
	font-size:24px;
	background:#033048;
	display:block;
	color:#f0efef;
	text-align:center;
	margin: 0 auto;
	width:280px;
	padding:15px 0;
}

.btn:hover {
	color:#121212;
}

/* Footer */

footer {
	background-color: #121212;
	padding:50px;
	text-align: center;
}

footer .logo {
	color:#f9e42e;
}

footer li {
	display: inline-block;
	padding: 40px;
}

footer p {
	color: #f0efef;
	font-weight:600;
	font-size:20px;
}


