/*
Project Name: Alice Li Portfolio
Author: Alice Li
Developer and Designer
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	font-family: 'Libre Baskerville', serif;
	font-size:22px;
}

a {
	text-decoration:none;
	color: #999999;
}

nav {
	padding: 15px 0;
	float:right;
	width:35%;
}

h1, h2 {
	font-family:'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 900;
	font-size:72px;
	text-transform: uppercase;
	padding: 50px 0px;
	color: #EC1048;
	letter-spacing: 1px;
}

h2 {
	font-size:48px;
	padding:30px 0;

}

p {
	padding: 10px 0;
	line-height: 1.7;
}

footer {
	background-color:#F1FEF4;
	padding: 20px 0;
	font-size:16px;
	color: #4D4D4D;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
	margin: 0 auto;
	max-width:960px;
	width:100%;
}

/*Main Navigation*/

.navSpace {
	padding: 20px 0;
	height: 90px;
	background-color: rgba(255,255,255,.2);
}

.logoTag {
	float:left;
	width:40%;
	display:block;
	padding:10px 0;
	font-size:18px;
}

.logo {
	width:50px;
	margin-right:20px;
	float:left;
}

.accent {
	font-size:16px;
}

.photocredit {
	text-align:right;
}

nav ul {
	list-style:none;
	width: auto;

}

nav li {
	display:inline-block;
	float: right;
}

nav a {
	color:black;
	font-family:'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size:18px;
	text-transform: uppercase;
	/*padding: 10px 0;*/
	padding-left: 60px;
}

/*About*/


/*.hero {
	background: url(../img/sfBlue.jpg) no-repeat center top;
	background-size: cover;
	background-position: top center;
	background-attachment:fixed;
	height:600px;
} */

.hello {
	padding:100px 0;
}

.lastLine {
	padding-bottom: 80px;
}

.content660 {
	width:68%;
}

/*Work Main*/

.mainWork article {
	padding: 20px 0;
}

.mainWork article h1 a {
	text-decoration: none;
	color:#EC1048;
}

.mainWork article h1{
	font-size:48px;
	text-align: center;
	padding: 150px 0 100px 0;
	letter-spacing: 4px;
}

.navSub {
	line-height: 1.5;
}

.mainWork li {
	padding-left: 100px;
	font-size: 16px;
}

.mainWork a {
	color:white;
}

.mainWork article {
	background-position: top center;
	/*background-attachment:fixed;*/
	margin: 100px 0;
	background-size:100% auto;
}

.ccrh {
	background: url(../img/mainWork/cchrTshirt.jpg) no-repeat center top;
}

.wedding {
	background: url(../img/mainWork/wedding.jpg) no-repeat center top;
}

.sideProjects {
	background: url(../img/mainWork/goodbyePosterTest.jpg) no-repeat center top;
}

/*Work Sub Page*/

.hero {
	background-position: center;
	background-attachment:fixed;
	background-size: cover;
	padding-bottom: 50px;
}

.workSubh1 {
	letter-spacing: 4px;
	text-align: center;
	padding: 200px 0;
}

.workSub article p {
	-webkit-columns: 2 350px;
    -moz-columns: 2 350px;
    columns: 2 350px;
}

.workSub h1 {
	padding-top:90px;
	padding-bottom:15px;
}

.workSub li {
	line-height: 1.5;
}

.workSub article {
	padding-bottom:90px;
}

/*.picCenter {

}  regular pic centered big on subWork*/


.lightGreen {
	background-color:#F1FEF4;
}

.lightYellow {
	background-color:#FEFEE8;
}

/*Side Projects*/

.sideProjectsHero {
	background: url(../img/sideProjects/goodbye3Main.jpg) no-repeat center top;
}

.goodbyePoster {
	background: url(../img/sideProjects/goodbyeFrame.jpg) no-repeat center top;
	background-position: center;
	/*background-size: 1920px;*/
	background-size:cover;
	max-width:1920px;
	margin-top:45px;
	height:700px;
}

.kissPoster {
	background: url(../img/sideProjects/kissingGoodbyeFrame.jpg) no-repeat center top;
	background-position: center;
	/*background-size: 1920px;*/
	height:700px;
	/*margin-bottom:45px;*/
}

.row {
	margin-left: -10px;
	margin-right: -10px;
}

.box {
	padding:10px;
	width:36%;
	float:left;
}

.box.bigBox {
	width:63%;
}

.smallBox {
	background-position: center;
	background-size: cover;
	padding-top:78%;
}


.jolene {
	background: url(../img/sideProjects/joleneMockUp.jpg) no-repeat left top;
	background-position: center;
	background-size:cover;
	padding-top:90%;
}

.gth {
	background: url(../img/sideProjects/GoToHell_Frame.jpg) no-repeat left top;
}

.happy {
	background: url(../img/sideProjects/happyAnniversary.jpg) no-repeat left top;
	margin-top:20px;
}

/*Wedding*/

.weddingHero {
	background: url(../img/wedding/weddingHero.jpg);
}

.weddingHero .navSub a {
	color:white;
}